.service-icon i {
  margin: 20px;
  font-size: 100px;
}
.service-card {
  height: 320px;
}
.service-card:hover {
  box-shadow: 10px 10px 50px rgb(58, 57, 57);
  transform: scale(1.03);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
