.single-skill-area {
  width: 75%;
  margin: auto;
}
.progress-bar {
  background: linear-gradient(
    90deg,
    rgba(175, 62, 99, 1) 14%,
    rgba(190, 163, 71, 1) 60%,
    rgba(0, 255, 21, 1) 100%
  ) !important;
}
@media only screen and (max-width: 666px) {
  .single-skill-area {
    width: 100%;
  }
}
